body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: White;
}
li
{
    list-style-type:none;
}
ul 
{
    padding:0;
}
input
{
    border-style:none;
    background-color:White;
}
.checkbox
{
    background:transparent url(../images/sprite.png) no-repeat -16px -2px;
    height:16px;
    width:16px;
    margin-top:1px;
    cursor:pointer;
    float:left;
}
.hidden
{
  display:none
}