<html>
  <head>
	<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
	<script src="http://www.google.com/jsapi"></script>
  </head>
  <body>
    {% for task in tasks %}
      {% if task.creator %}
      <b>{{ task.creator.nickname }}</b> wrote in {{ task.creation }}:
      {% else %}
       An anonymous person wrote:
      {% endif %}
      <blockquote>{{ task.description|escape }}</blockquote>
    {% endfor %}

    <form action="/add" method="post">
      <div><textarea name="description" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Add task"></div>
    </form>

    <a href="{{ url }}">{{ url_linktext }}</a>
  </body>
</html>
