body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: White;
}
.newTask{
  display:none
}
li
{
    list-style-type:none;
}
ul 
{
    padding:0;
}
input
{
    border-style:none
}